{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | absolute_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %} 

    {%- comment -%}
      Handle TOC
    {%- endcomment -%}
    {% if page.toc %}
      {% assign nodes_count = page.content | split: '<h' %}
      {% if nodes_count.size > 1 %}
        <aside class="sidebar__left">
          <nav class="toc">
            <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</h4></header>
            {% include toc.html sanitize=true html=content h_min=1 h_max=5 class="toc__menu" %}
          </nav>
        </aside>
      {% endif %}
    {% endif %}

    {%- comment -%}
      Handle Recent Posts
    {%- endcomment -%}
    {% if site.posts.size > 0 and page.sidebar.display_sidebar_recent_posts %}
      <div class="sidebar_recent_posts">
        <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
        {% for post in site.posts limit:5 %}  
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p class="archive__item-excerpt page__meta"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> </strong> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
          <hr>
        {% endfor %}  
      </div>
    {% endif %}  

  {% endif %}
  </div>
{% endif %}