.page {
  ul, ol{
    padding-left: 60px;
  }
}

.page__content {
  p,
  li,
  dl {
    font-size: 0.92em;
  }
}



#backToTop {
  display: none;
  position: fixed;
  z-index: 99;
  outline: none;
  background-color: #252a34;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  width: 41px;
  height: 40px;
  border: 2px solid #555;
  border-radius: 10px;
  padding-left: 6px;

  @media all and (max-width: $small) {
    width: 35px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    right: 15px;
  }
  
}


.arrow-top{
  width: 0;
  height: 0;
  padding: 0px;

  border-left: 13px solid rgba(0,0,0,0);
  border-right: 13px solid rgba(0,0,0,0);
  border-bottom: 25px solid #a9a9a9;
  margin-bottom: 3px;

  @media all and (max-width: $small) {
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    border-bottom: 22px solid #a9a9a9;
  }  
}

#backToTop:hover {
  background-color: #555;
}