// .page__related {
//   @include clearfix();
//   float: left;
//   margin-top: 2em;
//   padding-top: 1em;
//   border-top: 1px solid $border-color;

//   float: left;
//   margin-left: 0;
//   margin-right: 0;
//   width: 100%;
//   clear: both;

//   a {
//     color: inherit;
//     text-decoration: none;
//   }
// }

// .page__related-title {
//   margin-bottom: 10px;
//   font-size: $type-size-6;
//   text-transform: uppercase;
// }



#backToTop {
  display: none;
  position: fixed;
  z-index: 99;
  outline: none;
  background-color: #252a34;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  width: 41px;
  height: 40px;
  border: 2px solid #555;
  border-radius: 10px;

  @media all and (max-width: $small) {
    width: 35px;
    height: 30px;
  }
  
}


.arrow-top{
  width: 0;
  height: 0;
  padding: 0px;

  border-left: 13px solid rgba(0,0,0,0);
  border-right: 13px solid rgba(0,0,0,0);
  border-bottom: 25px solid #a9a9a9;
  margin-bottom: 3px;

  @media all and (max-width: $small) {
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    border-bottom: 22px solid #a9a9a9;
  }  
}

#backToTop:hover {
  background-color: #555;
}